<div class="card">
    
 <div class="card-header">
     {{product}}
 </div>
 <!--------------------------------------------------------------------->
 <div  class="card-body">
    <!--first row-->
    <div class="row">
        <div class="col-md-2">
            <h3>Filter by</h3>
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" [(ngModel)]="filterValue">
        </div>
    </div>
    <!--Second row-->
    <div class="row">
        <div class="col-md-2">
            <h6>Filtered By</h6>
        </div>
        <div class="col-md-6">
            {{filterValue}}
        </div>
    </div>
    <!--third row-->
    <div class="row">
        
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table" *ngIf="products.length>0">
                    <thead>
                        <tr>
                          <th>
                            <button type="button" (click)="clickImage()" class="btn btn-primary">{{showImage ? "HIDE" : "SHOW"}} IMAGE</button>
                          </th>
                          <th>PRODUCT</th>
                          <th>CODE</th>
                          <th>AVAILABLE FROM</th>
                          <th>PRICE</th>
                          <th>5 START RATING</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        <tr *ngFor="let k of products">
                            <td><img *ngIf="showImage" [src]="k.image" [style.width.px]="imageWidth"></td>
                            <td>{{k.productName}}</td>
                            <td>{{k.productCode | lowercase}}</td>
                            <td>{{k.releaseDate}}</td>
                            <td>{{k.productPrice | currency : "INR" : "symbol"}}</td>
                            <td>{{k.productRating}}</td>
                        </tr>
             

                    </tbody>    

                </table>
            </div>
    

        </div>
    </div>
    <!--end of third row-->
 </div>
</div>
